import { initializeApp } from "firebase/app";
import { initializeFirestore, collection, doc, setDoc, onSnapshot, query, serverTimestamp } from "firebase/firestore";

const firebaseConfig = {
  apiKey: "AIzaSyDRMVjyhe1IWtqO3uYGZwhIkLRWdV7z2UM",
  authDomain: "gen-lang-client-0211833674.firebaseapp.com",
  projectId: "gen-lang-client-0211833674",
  storageBucket: "gen-lang-client-0211833674.firebasestorage.app",
  messagingSenderId: "789966247307",
  appId: "1:789966247307:web:79e4dde6567e3b8fa60b8e"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
export const db = initializeFirestore(app, {
  experimentalForceLongPolling: true,
}, "ai-studio-358f4747-27cb-4ea9-98b9-30af6a1eff1d");

// Use a specific collection for assignments and master document list
export const assignmentsCol = collection(db, "assignments");
export const documentsCol = collection(db, "pending_documents");
